
/// Fonts

$plex: 'IBM Plex Sans', sans-serif;

// IBM Plex Sans : 400, 500, 600, 700

/// Colours

$bg-light: #510059;
$bg-dark: #43004a;

$off-white: #f1f1f1;
$light-grey: #ddd;
$dark-grey: #aaa;


/// Misc

$border-radius: 0.2em;