/* Resets */
html, body {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom Properties */
:root {
	--dark: #111111;
	--dark-grey: #141414;
	--grey: #262626;
	--light: #dbdbdb;
	--accent: #9300a0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8rem;
	font-weight: 700;
	background-color: var(--dark-grey);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {
	background-color: var(--grey);
	color: var(--light);
	padding: 1em;
	border: 2px solid var(--dark);
	border-radius: .5rem;
}

.calculator > * {
	display: block;
}

.calculator-input {
	background-color: var(--dark-grey);
	color: var(--light);
	border: none;
}

.calculator-input-main {
	position: relative;
	font-size: 1.5rem;
	margin: .5rem 0 1rem;
	padding: 1rem;
	border: 2px solid var(--dark);
	border-radius: .5rem;
}

.calculator-input-main:active,
.calculator-input-main:focus {
	border: 2px solid var(--accent);
}

.calculator-default-fontsize {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.calculator-input-secondary {
	width: 50px;
	margin: 0 .5rem;
	padding: .2rem;
	border: 2px solid var(--dark);
	border-radius: .2rem;
}

.calculator-input-secondary:active,
.calculator-input-secondary:focus {
	border: 2px solid var(--accent);
}