
/// Fonts

$plex: 'IBM Plex Sans', sans-serif;

// IBM Plex Sans : 400, 500, 600, 700

/// Colours

$bg-light: #383838;
$bg-dark: #303030;

$off-white: #f1f1f1;
$light-grey: #ddd;
$dark-grey: #aaa;

$error-colour: #ce0000;

/// Misc

$border-radius: 0.2em;